@media(max-width:1292px) {
.stellarnav>ul>li {
    padding: 0px 5px;
}

a.header-btn {
    padding: 10px 5px;
    font-size:12px;
}
}

@media(max-width:1050px) {



.stellarnav>ul>li {
    padding: 0px 3px;
}

.stellarnav>ul>li>a {

    font-size: 12px;
 
}
}
@media(max-width:1000px) {
a.d-morebtn {

    top: 30px;
}
}
@media(max-width:991px) {

.about .right-conent h3 {

    font-size: 2rem;
   
}

.about .right-conent  h6 {
    font-size: 1.2rem;
    
}

.about .right-conent h3 span {
    font-size: 2.5rem;
}

.about .right-conent span::before {
   display:none;
}

.newssel form input[type="text"] {

    width: 300px;
   
}

}
@media(max-width:767px) {
.h-btn {
    text-align: right;
}

.about .right-conent {
    margin-bottom: 50px;
}

h2.secheading span {
    font-size: 53px;

}

.nav-tabs {

    width: 57%;
}

section{
	padding:5% 0px !important;
}
.ourmusic-sec {
    padding: 30px 0px 0px 0px!important;
}
}


@media(max-width:667px) {

	.stellarnav .menu-toggle span.bars span {
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 6px;
    background: #ffff;
    margin: 0 0 3px;
}
.banner .content h1 {
    font-size: 35px;
}

h2.secheading {
    font-size: 32px;
    margin-top:20px;
    word-spacing:5px;

}

.banner .content h2 {
    font-size: 20px;

}

h2.secheading span {
    font-size: unset;
    display:inline-block;
    margin-left:5px;
}

.our-musicheader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-portfolio 
 h2.secheading {
   
    width: 100%;
 
}

.nav-tabs {
    width: 100%;
}

.portfolio-card .card-foot h3 {
    font-size: 1rem;
 
}

.portfolio-card .card-foot p {
    font-size: 14px;
    margin-top:5px;
}

.textimonial-header .content h2 {
    font-size: 25px;
  
}

.textimonial-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.textimonial-header .content {
    padding: 0px 30px 10px 30px;
    text-align: center;
}

.newssel {
  
    flex-direction: column;
}

.newssel span {
    margin-bottom: 16px;
    font-size: 1.2rem;
    padding-right: 0px;
    text-transform: capitalize;
}

p.copyright {
   
    text-align: center;
}

.flogo {
    margin-top: 50px;
}

.newssel form input[type="text"] {
    width: 224px;
}
.newssel form input {
    padding: 10px 5px;
}

.textimonial-header .content p {
    font-size: 14px;
}

.testimonials .item {
    padding: 35px 0px;
}

ul.menu  li a {

    font-size: 14px;
  
}

header {
    text-align: center;
    padding:10px;
}

section.banner {
   
    height: 400px;
    
}

.banner .content {
    position: absolute;
    top: 71%;
    left: 50%;
    text-align: center;
    width: 100%;
    padding: 0px 10px;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.textimonial-header img {
    width: 100px;
}

.textimonial-card .title h5 {
   
    font-size: 1rem;
 
}

img.quotee {
    width: 30px !important;
    margin: 20px 0px 10px 0px;
}

.textimonial-card p {
  
    font-size: 14px;
}

.textimonial-card .img {
    height: 98px;
    width: 98px;
    position: absolute;
    top: -23px;
    left: 0px;
}
}
